<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>MyVueApp</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div id="app" class="container">
        <h1>
            <button @click="purge">まとめて削除</button>
            Sample Todos
            <span class="info">({{ remaining.length }}/{{ todos.length }})</span>
        </h1>
        <ul>
            <li v-for="(todo, index) in todos">
                <input type="checkbox" v-model="todo.isDone">
                <span :class="{done: todo.isDone}">{{ todo.title }}</span>
                <span @click="deleteItem(index)" class="command">[削除]</span>
            </li>
            <li v-show="!todos.length">タスクを全て完了しました!</li>
        </ul>
        <form @submit.prevent="addItem">
            <input type="text" v-model="newItem">
            <input type="submit" value="Add">
        </form>
    </div>

    <script>
        (function () {
    'use strict';


    const vm = new Vue({
        el: '#app',
        data: {
            newItem: '',
            todos: [{
                title: 'sample',
                isDone: false
            }]
        },
        watch: {
            todos: {
                handler: function () {
                    localStorage.setItem('todos', JSON.stringify(this.todos))
                    // store.set('todos', this.todos.isDone);
                    // document.cookie = 'todos'
                },
                deep: true
            }
        },
        mounted: function () {
            this.todos = JSON.parse(localStorage.getItem('todos'));
            // this.todos = document.cookie.split(';');
        },
        methods: {
            addItem: function () {
                let item = {
                    title: this.newItem,
                    isDone: false
                };
                this.todos.push(item);
                this.newItem = '';
            },
            deleteItem: function (index) {
                if (confirm('本当に削除しますか?')) {
                    todos.splice(index, 1);
                }
            },
            purge: function () {
                if (!confirm('終了したタスクをまとめて削除しますか?')) {
                    return;
                }
                this.todos = this.remaining;
            }
        },
        computed: {
            remaining: function () {
                return this.todos.filter(function (todo) {
                    return !todo.isDone;
                });
            }
        }
    });
})();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>


</body>

</html>